[Desktop Entry]
Name=OSCLeash
Exec=OSCLeash
Type=Application
Comment=VRChat OSC tool to move a player in the direction of a stretched Physbone.
Terminal=true
Icon=com.zenithval.OSCLeash
Categories=Game;
